<!-- <div class="container-fluid">
        <div class="row">
            <form #username='ngForm'>
                <div class="form-group">
    
                    <label for="username">Username</label>
                    <input type="text" required class="form-control" id="name" [(ngModel)]="newUser.login" name="username">
               
                    Display {{newUser.login}}
    
                </div>
                <button type="submit" class="btn btn-success btn-lg">Search</button>
        
            </form>
        </div>
    </div>
          -->
          <input class="input-field" type="text" placeholder="Username" [(ngModel)]="loginName">
 <button (click)= "submitInput()">Search</button>